body {
  font-family: 'Quicksand', sans-serif;
  font-weight: normal;
}

section {
  margin: 100px auto;
}

thead {
  background-color: #5f939a;
  color: #ffffff;
  text-align: center;
  font-weight: bold;
}

tbody {
  text-align: center;
}

textarea {
  resize: none;
}

#navbar {
  margin-bottom: 120px
}

#header {
  margin-bottom: 50px;
}

#berita {
}

#footer {
  margin: 100px 0 0 0;
}

#navbar a {
  font-size: 15px;
}

#contact {
  margin-bottom: 100px;
}

.form-search {
  width: auto;
}

.website-title {
  color: #5f939a;
}

.title-hr {
  border-top: 5px;
  border-style: dotted;
  border-color: #5f939a;
  width: 100px;
}

.title {
  margin-bottom: 30px;
}

.carousel-1 {
  width: 900px;
}

.carousel-2 {
  width: 600px;
}

.control-button {
  font-size: 30px;
  color: black;
}

.formulir-pendaftaran {
  margin: auto;
  width: 600px;
}

.procedure-content {
  padding: 20px;
}

.procedure-icon {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 200px;
  height: 200px;
  background-color: #5f939a;
  border-radius: 20px;
}

.icon {
  font-size: 100px;
  color: white;
  margin: auto;
}

.keunggulan-content {
  padding: 20px;
}

.keunggulan-icon {
  display: flex;
  justify-content: center;
  width: 200px;
  height: 200px;
  margin: auto;
  border-radius: 100%;
  background-color: #5f939a;
  margin-bottom: 20px;
}

.keunggulan-text {
}

.pelayanan-icon {
  display: flex;
  justify-content: center;
  width: 200px;
  height: 200px;
  margin: auto;
  border-radius: 10px;
  background-color: #5f939a;
  margin-bottom: 20px;
}

.pelayanan-text {
  padding: 0 20px;
}

.modal-image {
}

.social-media {
  text-align: center;
  margin-bottom: 10px;
}

.social-media i{
  margin-right: 20px;
  font-size: 30px;
}

.about-image {
  display: flex;
  justify-content: center;
  margin: auto auto 30px auto;
  width: auto;
  height: 300px;
}

.about-image img{
  height: inherit;
}

.about-big-image
 {
  display: flex;
  justify-content: center;
  margin: auto auto 30px auto;
  width: auto;
  height: 400px;
}

.about-big-image img{
  height: inherit;
}

.about-small-image {
  display: flex;
  justify-content: center;
  margin: auto auto 30px auto;
  width: auto;
  height: 200px;
}

.about-small-image img {
  height: inherit;
}

.locations {
  margin: 50px auto;
}

.row-content {
  margin-bottom: 50px;
}

.place {
  padding: 20px;
}

.about-video {
  margin: 100px auto;
  width: 600px;
}

.foto-dokter {
  font-size: 100px;
  color: #5f939a;
}

.nav-dokter {
  margin: 10px;
}

.mapouter
{
  position: relative;
  text-align: right;
  height: 300px;
  width: 600px;
}

.gmap_canvas iframe {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

.artikel-content {
  width: 600px;
  height: 400px;
  padding: 30px;
  overflow-y: scroll;
}

.berita-image {
  background-image:
      linear-gradient(to bottom, rgba(255, 255, 252, 0.8), rgba(95, 147, 154, 0.9)),
      url('image1.jpg');
  background-size: cover;
}

@media (max-width: 900px) {
  .carousel-1 {
    width: auto;
  }
}

@media (max-width: 768px) {
  .about-video {
    width: auto;
  }
}

@media (max-width: 600px) {
  h3 {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
  }

  .carousel-2 {
    width: auto;
  }

  .formulir-pendaftaran {
    width: 100%;
  }

  .nav-dokter {
    width: 100%
  }

  .locations {
    margin: 0;
  }

  .about-image, .about-big-image {
    height: 200px;
  }

  .row-content {
    margin: 0;
  }

  .col-content {
    padding: 30px;
  }

  .about-small-image {
    margin: auto auto 20px auto;
  }

  .social-media i{
    margin: auto;
    padding: 10px;
    font-size: 20px;
  }

  .artikel-content {
    width: auto;
    height: 400px;
    padding: 30px;
    overflow-y: scroll;
  }
}

@media (max-width: 400px) {
  #promotion {
    width: auto;
  }

  .about-image, .about-big-image, .about-small-image {
    width: auto;
    height: 200px;
  }

  .col-content {
    padding: 30px 0 30px 0;
  }
}
